<!DOCTYPE html>
<html>
<title>Movie suggestion system/title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<body>
<ul class="menu">
	<li class="active menu_item"><a href="/search">SEARCH</a></li>
	<li class="menu_item"><a href="/classify">CLASSIFY</a></li>

</ul>
<div>
  <div>
    <p>Classification</p>
  </div>
  <form class="example" action="/classify" method="POST">
   
    <textarea placeholder="keyword please" name="input_wrd"></textarea>
    <button type="submit">Submit</button>
  </form>
  {% for x in result %}
  <h6>{{x}}</h6>
  <h6>{{result[x]}}</h6>
  {% endfor %}
</div>
</body>
</html>