<!DOCTYPE html>
<html>
<head>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<title>Movie Suggestion System</title>
</head>
<body>
<ul class="menu">
	<li class="active menu_item"><a href="/search">SEARCH</a></li>
	<li class="menu_item"><a href="/classify">CLASSIFY</a></li>

</ul>
<div>
	<h2>Movie Suggestion System</h2>
		<form action="/search" method="POST"> 
            <input type="text" placeholder="Keyword please" name="input_wrd">
            <button type="submit">Submit</button>
        
        </form>
	</div>
<hr>
<h2> Following are results:</h2>
<hr>
<div> 
  {% for (i,item) in list.iterrows() %}
	<div>
		<div>
		  <div>
		    <h3>{{item.loc['original_title']}}</h3>
		  </div>
		</div>



		</div>  

 {% endfor %}


</div>

</body>
</html>